fieldset{
	width: 40%;
    margin: auto;
    padding: 15px;
	border-color: rgb(49, 61, 231);
    background-color: #CCC;
    
}

legend{
	color: rgb(0, 68, 255);
	font-size: 24px;
	font-weight: bold;
}

#loaded-app {
	width: 100%;
	height: calc(100% - 160px);
	overflow: scroll;
	margin: 0px;
	padding: 0px;
	position: absolute;
}